body{
     background-color: lightskyblue;
}

.heading{
    width: 70%;
    color: orange;
    font-size: 45px;
    letter-spacing: 10px;
}

#object_list{
 
    color:darkorange;
    font-size: 19 ;
}

#camera{

    width: 300px;
height: 300px;
 border: 2px dotted coral;
 
}